
.music-search-bar form {
    display: flex;
    height: 4em;
}

.music-search-bar button[type="submit"]{
    margin-left: 8em;
    margin-top: -0.5em;
}

.music-search-bar input[type='text'] {
    background: rgba(var(--black-transparent-color), 0.6);
    padding: 0.4em 2.5em;
    margin: 0 2em 0 5em;
    border: 2px solid var(--dark-red-color, red);
    border-radius: 1em;
    color: var(--gray-color, red);
    width: 16em;
    height: 2.5em;
}