.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description h2 {
    background: var(--black-color, red);
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--dark-red-color, red); 
}

.description span {
    max-width: var(--about-description-max-characters, 65ch);
    vertical-align: middle; 
    text-align: center; 
    background: var(--about-description-background-color, var(--black-color, red));
    margin-bottom: 2em;

    
}