body {
    background: url('../../static/images/background-image.jpg');
    
    color: #a39d87;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.site {
    max-width: var(--layout-main-width, 70em);
    margin: 0 auto;

}

@media (min-width: 1024px) {
    
}