.radio-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.4em;
    width: 7em;
    height: 2.5em;
    background: var(--black-color, red);;
    border-radius: 0.5em;
    border: 3px solid rgba(30, 130, 76, 1);

    position: relative;

    transition: all .3s ease-in-out;
}

.declined {
    border: 3px solid var(--dark-red-color, red);
    border-radius: 0.8em;
}

.declined:hover {
    background: rgba(var(--dark-red-color, red), 0.3) !important;
    border-color: var(--dark-red-color, red) !important;
}

.radio-button:hover {
    background: rgba(30, 130, 76, 0.3);
    border: 3px solid rgba(30, 130, 76, 1);
    border-radius: 0.8em;
    color: var(--black-color, red);

    width: 7.5em;
    height: 2.8em;
}

.radio-button label i {
    margin-left: 0.7em;
    color: rgba(30, 130, 76, 1);
}

.declined label i {
    color: var(--dark-red-color, red);
}

.music-search-bar input[type='radio'] {
    display: none;
}
